<div  class= "row blue view largeFontSize">
    <h2 class="centerAlign">Player's Input Page</h2>
    <!-- Player Information Section -->
    <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3 class="centerAlign">Player Information</h3>
        <!-- Display current player's name -->
        <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
            Player's Name:
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 ">
            {{playerName}}
        </div>
        <!-- Display current player's jersey's number -->
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
            Jersey Number:
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6 leftAlign">
            {{jerseyNumber}}
        </div>
        <!-- Display current player's team name -->
        <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
            Team:
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 ">
            {{teamName}}
        </div>   
    </div> <!-- End of Player Information Section -->
    
    <!-- Player Input Section -->
    <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6 centerAlign">
        
        <h3 class="centerAlign">Input {{date | date:"MMMM d"}} Stats</h3>
    <form name="inputForm" novalidate>
        <!-- Display steps taken input box -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            Number of Steps Taken
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input name="inputSteps" type="number" ng-model="steps" size="10" required autofocus>
            <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="inputForm.inputSteps.$invalid && !inputForm.inputSteps.$pristine">Required!</div>                  
        </div> 
        
        <!-- Display water intake input box -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            Cups of Water Intake
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input name="inputWater" type="number" ng-model="water" size="10" required>
            <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="inputForm.inputWater.$invalid && !inputForm.inputWater.$pristine">Required!</div>                  
        </div>
        <!-- Display vegetables eaten input box -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            Serving of Vegetables Eaten
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input name="inputVegetables" type="number" ng-model="vegetables" size="10" required>
            <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="inputForm.inputVegetables.$invalid && !inputForm.inputVegetables.$pristine">Required!</div>                  
        </div>
        <!-- Display physical fitness minutes input box -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            Physical Fitness Minutes
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input name="inputPF" type="number" ng-model="physicalFitness" size="10" required>
            <!--input field validation. Checking for if valid and if field been clicked on and left empty-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="inputForm.inputPF.$invalid && !inputForm.inputPF.$pristine">Required!</div>                  
        </div>
    </form>
    </div> <!-- End of Input Section -->
    
    <!-- Display Today's Total Points and submit button -->
    <div class= "col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <!-- Display total points label -->
            <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 rightAlign">
                Today's Total Points
            </div>
            <!-- Display total steps takened -->
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6 leftAlign">
                {{((steps/2000)*10)+((water/2)*5)+(vegetables*5)+((physicalFitness/20)*10)}}
            </div>            
        
        
        <!-- Display submit button -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centerAlign">
            <br>
            <!--submit new suspects button "disable" till valid validation-->
            <button type="submit" name="submit" ng-disabled="inputForm.$invalid" class="btn btn-lg submitColor" ng-click="addStats(steps, water, vegetables, physicalFitness)">Submit</button>
        </div>        
    </div>    

</div>